body {
    margin: 0;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    font-family: "Century Gothic", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

main {
    padding-top: 100px;
}

header {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;

    position: fixed;
    width: 100%;
    height: 100px;

    border-bottom: solid 1px lightgray;
    box-shadow: 4px 4px 4px #E1E1E1;
    background-color: white;
}

.headerContent {
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-content: space-around;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.checkout {
    display: grid;
    align-content: start;
}

.checkout a {
    text-align: center;
    padding: 16px;

    text-decoration: none;
    background-color: #084594;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    transition: opacity 0.3s;
}
.checkout a:hover {
    opacity: 0.8;
}
.checkout a:active {
    opacity: 0.6;
}