body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;

    background-image: url("../images/waves_final.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    background-color: #084594;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    padding: 16px;

    transition: opacity 0.3s;
}
a:hover {
    opacity: 0.8;
}
a:active {
    opacity: 0.6;
}

main {
    display: grid;
    align-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 60vh;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-content: center;
    height: 100px;
}